
uv.lock
.venv
.venv/

__pycache__/
*.py[cod]

checkpoints/
wandb/


.idea/
.vscode/
__marimo__/

!requirements*.txt


experiments.md
results_all_experiments.md
results_generalization.json

# OS junk
.DS_Store

*.bak
